.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    opacity: 0;

    pointer-events: none;

    transition: all .2s ease-in-out;

    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: 62rem;

    z-index: 225;


    &__head {
      position: fixed;
      background-color: $blue-light;
      z-index: 2000;
      width: 100%;
    }

    

    [x-arrow] {
        position: absolute;
    }
  
      & {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      &[x-placement="bottom"] [x-arrow] {
        top: -10px;
        border-bottom: 10px solid $blue-light;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        left: 30% !important;
      }
      
      &[x-placement="top"] [x-arrow] {
        bottom: -10px;
        border-top: 10px solid white;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
      }
  

    &.fade-in {
        visibility: visible;
        opacity: 1;
        pointer-events: all;

    }

    &__top {
        padding: 1rem;
        border-bottom: 1px solid gray;
        position: relative;

        .btn-grp {
            position: absolute;
            right: 0;
            bottom: 10px;
            img {
                cursor: pointer;
            }
        }
        
        h3 {
            font-size: 2rem;
        }
    }
    &__sub {
        padding: 2rem;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 2px solid $blue-main;
        a {
            font-size: 1.4rem;
            text-decoration: none;
            border-radius: 20px;
            padding: .5rem 1.2rem;
            color: $color-icon;
            transition: all .4s ease-out;
            white-space: nowrap;
        
            &.active-btn {
              box-shadow: $icon-bg-shadow-sub;
              color: #406781;
              background-color: #D3EDFF;
            }
            &:hover {
              box-shadow: $icon-bg-shadow-sub;
              color: #406781;
              background-color: #D3EDFF;
            }
          }
    }
    &__content {
        background: rgba(65, 105, 225, 0.219);
        min-height: 50rem;
        overflow: auto;
        padding: .5rem 1rem;

        max-height: calc(100% - 15rem);
        margin-top: auto;

    }
}