// COLORS
$blue-main:        #3899ec;
$blue-light:       #eaf7ff;
$color-white:      #ffffff;
$color-black:      #000000;
$color-gray:       #61707b;
$color-gray-light: rgba(#61707b, .4);
$color-icon:       #2d4150;
$color-pages:      #00aaaf;
$color-background: #f8a239;
$color-add:        #3899ec;
$color-apps:       #d0427c;
$color-media:      #fa7c33;
$color-blog:       #faad4d;
$color-marketing:  #ffc233;
$color-booking:    #733ca6;
$color-data:       #00a65f;

// Box Shadow
$box-shadow:   0 0 15px 0 rgba(22, 45, 61, 0.5);
$item-shadow:  0 2px 5px 0 rgba(22, 45, 61, 0.58);

// Icon Hover
$icon-bg-color:  rgba(0, 0, 0, 0.2);
$icon-bg-shadow: 1px 1px 2px rgba(255, 255, 255, 0.11), 
            inset 1px 1px 2px rgba(0, 0, 0, 0.15);
// Icon Hover SubMenu
$icon-bg-color-sub:  #D3EDFF;
$icon-bg-shadow-sub: 1px 1px 2px 0 rgba(255, 255, 255, 0.11), 
inset 1px 1px 2px 0 #c6e4f9






